<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.project.api.ApiBoardMapper">
	
	<!-- 인덱스로 하나의 행 가져오기 -->
	<select id="view" parameterType="int" resultType="kr.co.project.api.BoardVO">
		SELECT * FROM board WHERE no = #{no}
	</select>
	
	<!-- 검색 내용에 맞추어 리스트 가져오기 -->
	<select id="list" parameterType="kr.co.project.api.Param" resultType="kr.co.project.api.BoardVO">
		SELECT *,
			(SELECT name FROM member WHERE no=board.member_no) AS member_name,
			(SELECT COUNT(*) FROM comment WHERE board_no=board.no AND tablename='board') AS comment_count
		 FROM board
		<where>
			<if test="stype != null and stype != ''">
				<if test="stype != 'all'">
					 ${stype} LIKE '%${sword}%'
				</if>
				<if test="stype == 'all'">
					title LIKE '%${sword}%' OR content LIKE '%${sword}%'
				</if>
			</if>
		</where>
		ORDER BY regdate DESC
		LIMIT ${startIdx},${pageRow}
	</select>
	
	<!-- 해당내용이 포함된 행 카운트 -->
	<select id="count" parameterType="kr.co.project.api.Param" resultType="java.lang.Integer">
		SELECT count(*) FROM board  
		<where>
			<if test="stype != null and stype != ''">
				<if test="stype != 'all'">
					 ${stype} LIKE '%${sword}%'
				</if>
				<if test="stype == 'all'">
					title LIKE '%${sword}%' OR content LIKE '%${sword}%'
				</if>
			</if>
		</where>
	</select>
	
</mapper>